<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>All Products-STYLE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/home"> <img src="logo.png" width="80 px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="https://www.google.com/maps/place/FUGUE/@33.8464716,35.8994889,17z/data=!4m14!1m7!3m6!1s0x151f352b715c0bd5:0x92330e00231d4b67!2sFUGUE!8m2!3d33.8464716!4d35.9020638!16s%2Fg%2F11hjc1d2mk!3m5!1s0x151f352b715c0bd5:0x92330e00231d4b67!8m2!3d33.8464716!4d35.9020638!16s%2Fg%2F11hjc1d2mk?entry=ttu">Location</a></li>
                    <li><a href="/Account">Account</a></li>
                </ul>
            </nav>
            <a href="/cart"> <img src="cart.png" width="30px " height="30px"></a>
            <img src="menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        
    </div>
    <!--cart items details-->

    <div class="small-container cart-page">
        <%if(item.length!=0){%> 
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>

            </tr>
            <% let totalprice=0%>
            <%for (let i=0;i<item.length;i++){%>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="<%=item[i].Code%>.jpg" >
                        <div>
                            <p><%=item[i].Description%></p>
                            <small>unit Price:<%=item[i].price%>$</small>
                            <br>
                            <a href="/remove?Cartid=<%=item[i].id%>">Remove</a>
                        </div>
                    </div>
                </td>
                <td><%=item[i].Qty%></td>
                <% let total0= item[i].Qty*item[i].price %>
                <td><%=total0%>$</td>
                <%totalprice+=total0%>
            </tr>
            <%}%>
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td><%=totalprice%>$</td>
                </tr>
                <tr>
                    <td>Tax 10%</td>
                    <td><%=totalprice*0.1%>$</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td><%=totalprice+totalprice*0.1%>$</td>
                </tr>
                <tr>
                <td style="width: -50%;"><a href="/Checkout" class="btn">Checkout &#x2192;</a></td>
            </tr>
            </table>
            <%}else{%>
                <h1>Cart is still Empty!</h1>
                <a href="/products" class="btn">Shop Now &#x2192;</a>
             <%}%>
        </div>
    </div>
    

<!----footer---->
<div class="footer">
    <div class="container">
        <div class="row"><div class="footer-col-1">
            <h3>Download our App</h3>
            <p>Download for Android and ios mobile phone.</p>
            <div class="app-logo">
                <a href="https://play.google.com/store/games?hl=en&gl=US"><img src="play-store.png" ></a>
                <a href="https://www.apple.com/app-store/"><img src="app-store.png" ></a>
            </div>
        </div>
        <div class="row"><div class="footer-col-2">
            <img src="logowhite.png" width="80 px">
            <p>Our Purpose Is To Sustainably Make the Pleasure  of STYLE Accessible to the Many. </p>
        </div>
        <div class="row"><div class="footer-col-3">
            <h3>FOLLOW US ON</h3>
           <ul>
            <li><a href="https://www.instagram.com/laya_express"><img src="instagram.png" ></a>
            <a href="https://www.facebook.com/LayaExpress"><img style="width:50px;" src="facebook-icon-white.png" ></a></li>
        </ul>
        </div>
    </div>
    </div>
</div>
<!----js for toggle menu---->
<script>
    var MenuItems=document.getElementById("MenuItems");
    MenuItems.style.maxHeight="0px";
    function menutoggle(){
        if(MenuItems.style.maxHeight=="0px")
        {
            MenuItems.style.maxHeight="200px";
        }
        else{
            MenuItems.style.maxHeight="0px";
        }
    }
</script>

</body>
</html>