<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>All Products-STYLE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/home"> <img src="logo.png" width="80 px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="https://www.google.com/maps/place/FUGUE/@33.8464716,35.8994889,17z/data=!4m14!1m7!3m6!1s0x151f352b715c0bd5:0x92330e00231d4b67!2sFUGUE!8m2!3d33.8464716!4d35.9020638!16s%2Fg%2F11hjc1d2mk!3m5!1s0x151f352b715c0bd5:0x92330e00231d4b67!8m2!3d33.8464716!4d35.9020638!16s%2Fg%2F11hjc1d2mk?entry=ttu">Location</a></li>
                    <li><a href="/Account">Account</a></li>
                </ul>
            </nav>
            <a href="/cart"> <img src="cart.png" width="30px " height="30px"></a>
            <img src="menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
        
    </div>
    <!---single product details-->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="<%=item[0].Code%>.jpg" width="100%">
                
            </div>
           
            <div class="col-2">
                <p>Home</p>
                <h1><%=item[0].Description%></h1>
                <h4><%=item[0].Price%>.00 $</h4>
                <p>Code : <%=item[0].Code%></p>
                <select >
                    <option >Select Size</option>
                    <option >XXL</option>
                    <option >XL</option>
                    <option >L</option>
                    <option >M</option>
                    <option >S</option>
                </select>
                <%if(item[0].Qty!=0){%>
                <form method="get" action="/addtocart">
                <input name="Qty" type="number" value="1" max="<%=item[0].Qty%>" min="1" onkeydown="return false;">
                <input type="hidden" name="Code" value="<%=item[0].Code%>">
                <button class="btn" type="submit" style="width:50%;">Add To Cart</button>
                </form>
                <%}else {%>
                    <button class="btn" style="width:50%; background-color: red;">out of stock!</button>
                <%}%>
                <h3>Product Details></h3>
                <p>Elevate your fashion effortlessly with Laya Express. This versatile collection seamlessly blends with every piece in your wardrobe.
                    Embrace comfort and style effortlessly, ensuring a perfect match for any occasion, day or night.
                </p>
            </div>
        </div>
    </div>
     <!--title-->
     <div class="small-container">
        <div class="row row-2">
            <h2>Products You might Like !</h2>
            <a href="/products"><p>View More</p></a>
        </div>
    </div>
    <!--products-->
 
</div>

<div class="small-container">
    
        <div class="row">
        <% for(let i=0;i<4;i++){%>
                <a href="/productdetails?code=<%= other[i].Code %>">
            <div class="col-4"><img src="<%=other[i].Code%>.jpg" >
                </a>
        </div>
        <%}%>
    </div>
</div>

<!----footer---->

    <div class="footer">
        <div class="container">
            <div class="row"><div class="footer-col-1">
                <h3>Download our App</h3>
                <p>Download for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <a href="https://play.google.com/store/games?hl=en&gl=US"><img src="play-store.png" ></a>
                    <a href="https://www.apple.com/app-store/"><img src="app-store.png" ></a>
                </div>
            </div>
            <div class="row"><div class="footer-col-2">
                <img src="logowhite.png" width="80 px">
                <p>Our Purpose Is To Sustainably Make the Pleasure  of STYLE Accessible to the Many. </p>
            </div>
            <div class="row"><div class="footer-col-3">
                <h3>FOLLOW US ON</h3>
               <ul>
                <li><a href="https://www.instagram.com/laya_express"><img src="instagram.png" ></a>
                <a href="https://www.facebook.com/LayaExpress"><img style="width:50px;" src="facebook-icon-white.png" ></a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
<!----js for toggle menu---->
<script>
    var MenuItems=document.getElementById("MenuItems");
    MenuItems.style.maxHeight="0px";
    function menutoggle(){
        if(MenuItems.style.maxHeight=="0px")
        {
            MenuItems.style.maxHeight="200px";
        }
        else{
            MenuItems.style.maxHeight="0px";
        }
    }
</script>
<!----js product gallery---->
<script>
    var productimg=document.getElementById("productimg");
    var smallimg=document.getElementsByClassName("small-img");
  smallimg[0].onclick=function(){
    productimg.src=smallimg[0].src;
}
smallimg[1].onclick=function(){
    productimg.src=smallimg[1].src;
}
smallimg[2].onclick=function(){
    productimg.src=smallimg[2].src;
}
smallimg[3].onclick=function(){
    productimg.src=smallimg[3].src;
}
</script>
</body>
</html>